*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    background:#F8F2EF;
    font-family:'Poppins',sans-serif;
}

header{
    width:90%;
    margin:auto;
    padding:30px 0;

    display:flex;
    justify-content:center;
    align-items:center;
}

.logo{
    text-align:center;
}

.logo a,
.logo a:hover,
.logo a:active {
    color: #6B3D49;
    border-bottom: none;
    text-decoration: none;
}

.titulo-logo{
    font-family:'Cormorant Garamond',serif;
    font-size:70px;
    color:#6B3D49;
    border: 0;
}

.titulo-logo a,
.titulo-logo a:hover,
.titulo-logo a:active {
    color: #6B3D49;
    border-bottom: none;
    text-decoration: none;
}

.logo p{
    letter-spacing:5px;
    color:#8D6670;
    font-size:14px;
}

.btn-header{
    padding:14px 28px;
    border:2px solid #8D6670;
    background:transparent;
    border-radius:12px;
    font-size:18px;
    color:#6B3D49;
    cursor:pointer;
    transition:.3s;
}

.btn-header a,
.btn-header a:hover,
.btn-header a:active {
    color: #6B3D49;
    border-bottom: none;
    text-decoration: none;
}


.btn-login{
    padding:14px 28px;
    background:#7B4E57;
    border:2px solid #8D6670;
    border-radius:12px;
    font-size:18px;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.btn-login:hover {
    transform:translateY(-3px);
}

.btn-login a,
.btn-login a:hover,
.btn-login a:active {
    color: white;
    border-bottom: none;
    text-decoration: none;
}

.btn-header:hover{
    transform:translateY(-3px);
}

/* Aqui para abajo es la pagina */