body {
    background-image: url(img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.Menu {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-image: url(img/geminis.PNG);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: left;
    margin-left: 10%;
    margin-right: 8%;
}
.M_Boton {
    border: 0px;
    color: rgb(138, 145, 154);
    background-color: url(img/back.jpg);
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.M_Agendar{
    border: 1px solid;
    border-radius: 3px;
    color: white;
    background-color: rgb(138, 145, 154);
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.Mid {
    background-image: url(img/Mid.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16%;
}

.Footer {
    display: flex;   
}

.Footer_Titulo {
    color:rgb(138, 145, 154);
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
}

.Footer_Texto {
    color:rgb(138, 145, 154);
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
}

.Footer_Ubicacion {
    margin-left: 10%;
    margin-right: 10%;
    font-family:'Times New Roman', Times, serif;
}

.Footer_Redes {
    margin-left: 10%;
    margin-right: 10%;
    font-family:'Times New Roman', Times, serif;
}

.Tienda_Texto {
    color:rgb(138, 145, 154);
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
}